.heading--charlie {
  font-size: 32px;
  line-height: 1.5; }
  .heading--charlie:focus {
    color: red; }

.badger-modal {
  background-color: #fff;
  border: solid 2px #c2c2c2;
  box-shadow: 0 0 200vw 200vh rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  max-width: 600px;
  overflow: auto;
  padding: 20px;
  width: 100%;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden; }
  @media screen and (min-width: 500px) and (min-height: 440px) {
    .badger-modal {
      bottom: auto;
      top: 50%;
      transform: translateY(-50%); } }
  .badger-modal.badger-modal--active {
    opacity: 1;
    transition: opacity ease-in-out 0.25s;
    visibility: visible; }
  .badger-modal:focus {
    outline: solid #3498db 2px; }

.badger-modal__trigger {
  scroll-behavior: smooth; }
  .badger-modal__trigger:focus {
    outline: solid 2px #34495e; }
  .badger-modal__trigger--close {
    display: flex;
    margin-left: auto;
    margin-right: 0; }
